<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lightning Income</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <section class="lightning">
    <div class="pastFunding">
      <div v-for="pastTarget in pastFundingTargets"
           v-bind:pastTarget="pastTarget"
           v-bind:key="pastTarget.id"
           class="entry">
        <div class="check">&#10004;</div>
        <span>{{ pastTarget.fundingTitleComplete }}</span>
      </div>
    </div>
    <div v-for="fundingTarget in currentFundingTargets"
         v-bind:fundingTarget="fundingTarget"
         v-bind:key="fundingTarget.id"
         class="currentFunding">
      <div class="progress" v-bind:style="{ 'width': getPercentage() }"></div>
      <div class="label">
        <span>{{ fundingTarget.fundingTitle }}</span>
      </div>
    </div>
  </section>
  <section class="receiveLightning">
    <div id="lightningTip">
      <p id="lightningTipLogo">⚡</p>
      <div id="lightningTipInputs">
        <input type="number" class="lightningTipInput" id="lightningTipAmount" placeholder="Betrag in satoshi">
        <textarea class="lightningTipInput" id="lightningTipMessage" placeholder="Schicke uns eine kurze Nachricht mit"></textarea>
        <button class="lightningTipButton" id="lightningTipGetInvoice" onclick="getInvoice()">Generiere QR</button>
        <div id="lightningTipError">
          <p></p>
        </div>
      </div>
    </div>
  </section>
  <script src="./inc/vue.min.js"></script>
  <script src="./inc/qrcode.min.js"></script>
  <script src="./inc/lightningTip.min.js"></script>
  <script src="./inc/main.js"></script>
</body>
</html>
