<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lightning Income</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <section class="lightning">
    <div class="pastFunding">
      <div v-for="pastTarget in pastFundingTargets"
           v-bind:pastTarget="pastTarget"
           v-bind:key="pastTarget.id"
           class="entry">
        <div class="check">&#10004;</div>
        <span>{{ pastTarget.fundingTitleComplete }}</span>
      </div>
    </div>
    <div v-for="fundingTarget in currentFundingTargets"
         v-bind:fundingTarget="fundingTarget"
         v-bind:key="fundingTarget.id"
         class="currentFunding">
      <div class="progress" v-bind:style="{ 'width': getPercentage() }"></div>
      <div class="label">
        <span>{{ fundingTarget.fundingTitle }}</span>
      </div>
    </div>
    <button v-on:click="increment">add 100</button>
  </section>
  <script src="./vue.js"></script>
  <script src="./main.js"></script>
</body>
</html>
