*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.lightning {
  display: block;
  width: 100%;
}

.lightning div.pastFunding .entry {
  margin: 15px 0;
}

.lightning div.pastFunding div.check {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 4px 6px;
  color: #fff;
  border-radius: 50%;
  background-image: -webkit-gradient(linear,left top, right top,from(#555),to(hsl(104, 100%, 41%)));
  background-image: linear-gradient(to right,#888,hsl(104, 100%, 41%));
  margin-right: 2px;
}

.lightning div.currentFunding {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #ccc;
  margin-bottom: 10px;
}

.lightning div.currentFunding div.label {
  position: absolute;
  margin-top: 6px;
  z-index: 2;
}

.lightning div.currentFunding div.label span {
  color: #fff;
  padding: 3px 5px;
  white-space: nowrap;
}

.lightning div.currentFunding div.progress {
  position: absolute;
  height: 30px;
  width: 33%;
  background-color: #555;
  background-image: -webkit-gradient(linear, left top, right top, from(#888), to(#555));
  background-image: linear-gradient(to right, #888, #555);
  -webkit-transition: width 2s ease-in-out;
  transition: width 2s ease-in-out;
  z-index: 1;
}

.lightning div.currentFunding div.progress::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear,left top, right top,from(#555),to(hsl(104, 100%, 41%)));
  background-image: linear-gradient(to right,#888,hsl(104, 100%, 41%));
  z-index: -1;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.lightning div.currentFunding div.progress.active::before {
  opacity: 1;
}
