*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

#lightning {
  display: block;
  width: 100%;
  font-family: sans-serif;
  margin-top: 15px;
}

#lightning div.label span {
  background-color: #333;
  color: #fff;
  padding: 3px 5px;
}

#lightning div.pastTargets {
  position: relative;
}

#lightning div.pastTargets .pastTarget {
  position: absolute;
  top: 19px;
  left: 15%;
  width: 20px;
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 39%,rgb(255, 255, 255) 40%,rgb(255, 255, 255) 50%,rgb(255, 255, 255) 60%,rgba(0,0,0,0) 61%,rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 39%,rgb(255, 255, 255) 40%,rgb(255, 255, 255) 50%,rgb(255, 255, 255) 60%,rgba(0,0,0,0) 61%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to right, rgba(0,0,0,0) 44%,rgb(255, 255, 255) 45%,rgb(255, 255, 255) 50%,rgb(255, 255, 255) 55%,rgba(0,0,0,0) 56%,rgba(0,0,0,0) 100%);
  z-index: 111;
  height: 11px;
  margin-left: -10px;
  transition: all .2s ease-out;
}

#lightning div.pastTargets .pastTarget span {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  width: auto;
  white-space: nowrap;
  padding: 3px 5px;
  margin:1em calc(50% - 50vw);
  margin-left: -3px;
  background-color: #333;
  color: #fff;
}

#lightning div.pastTargets .pastTarget span:before {
  content: "";
  position: absolute;
  top: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #333;
}

#lightning div.pastTargets .pastTarget:hover {
  top: 0;
  height: 30px;
}

#lightning div.pastTargets .pastTarget:hover span {
  display: block;
}

#lightning div.currentFunding {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #ccc;
  background-image: -webkit-gradient(linear, left top, right top, from(#ccc), to(#eee));
  background-image: linear-gradient(to right, #ccc, #eee);
  margin-bottom: 10px;
}

#lightning div.currentFunding div.progress {
  position: absolute;
  height: 30px;
  width: 33%;
  background-color: #555;
  background-image: -webkit-gradient(linear, left top, right top, from(#888), to(#555));
  background-image: linear-gradient(to right, #888, #555);
  -webkit-transition: width 2s ease-in-out;
  transition: width 2s ease-in-out;
  z-index: 1;
}

#lightning div.currentFunding div.progress::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear,left top, right top,from(#888),to(hsl(104, 100%, 41%)));
  background-image: linear-gradient(to right,#888,hsl(104, 100%, 41%));
  z-index: -1;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  opacity: 0;
}

#lightning div.currentFunding div.progress.active::before {
  opacity: 1;
}

section.receiveLightning {
  display: block;
  width: 231px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

#lightningTip {
  position: relative;
  width: 231px;
  height: 250px;
  padding: 0;
  color: #333;
  text-align: center;
  float: right;
  overflow: hidden;
}

#lightningTipLogo {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 35px;
  color: #ffac33;
}

#lightningTipInputs section.amounts {
  position: relative;
  display: flex;
  height: auto;
  justify-content: space-between;
  margin-bottom: 10px;
  overflow: hidden;
}

#lightningTipInputs section.amounts button {
  width: 30%;
  height: 40px;
  margin: 0;
  background-color: #333;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  outline: none;
}

#lightningTipInputs section.amounts button:focus,
#lightningTipInputs section.amounts button:hover {
  background-color: #f7be6a;
  cursor: pointer;
  color: #333;
  outline: none;
  border: 0;
}

#lightningTipInputs section.amounts button:focus span,
#lightningTipInputs section.amounts button:hover span {
  color: #555;
}

#lightningTipInputs section.amounts button.active {
  background-color: #f7be6a;
  color: #333;
}

#lightningTipInputs section.amounts button.active span {
  color: #555;
}

#lightningTipInputs section.amounts button span {
  display: block;
  color: #aaa;
  font-size: 12px;
}

.lightningTipInput {
  width: 100%;
  display: inline-block;
  padding: 5px 10px;
  margin: 0;
  border: 2px solid #555;
  font-size: 14px;
  color: #333;
  border-radius: 3px;
  background-color: #fff;
  outline: none;
  resize: none;
  overflow-y: hidden;
  font-family: sans-serif;
}

#customAmount {
  position: absolute;
  top: -50px;
  width: 100%;
  transition: all .1s ease-in-out;
}

#customAmount input {
  position: relative;
  height: 40px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 14px;
}

#customAmount label {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 40px;
  padding: 13px 0;
  margin-right: 35px;
  font-size: 12px;
  text-align: right;
}

#customAmount.active {
  top: 0;
}

#customAmountLink {
  display: block;
  font-size: 14px;
  color: #333;
  text-align: right;
  cursor: pointer;
}

.lightningTipButton {
  width: 100%;
  padding: 5px 10px;
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #333;
  border: 2px solid #333;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.lightningTipButton:focus,
.lightningTipButton:hover {
  outline: none;
  background-color: #ffac33;
  color: #333;
  border-color: #ffac33;
}

.lightningTipButton::-moz-focus-inner {
  outline: none;
  border: 0;
}

#lightningTipMessage {
  height: 55px;
  margin-top: 10px;
  padding: 9px 10px;
  color: #333;
  font-size: 14px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
}

#lightningTip section.message {
  position: absolute;
  bottom: -60px;
  width: 100%;
  padding: 9px 10px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  transition: bottom 0.2s ease-in-out;
  font-family: sans-serif;
}

#lightningTip section.message.success {
  background-color: #46af2d;
}

#lightningTip section.message.error {
  background-color: #af2d2d;
}

#lightningTip section.message.show {
  bottom: 0;
}

#lightningTipError {
  position: absolute;
  width: 100%;
  padding: 10px;
  bottom: -70px;
  font-size: 16px;
  border-radius: 3px;
  background-color: #F44336;
  -webkit-transition: bottom .2s ease-in-out;
  transition: bottom .2s ease-in-out;
}

#lightningTipError.show {
  bottom: 5px;
}

#qrOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 231px;
}

#closeQR {
  position: absolute;
  top: 0;
  right: 0;
  width: 31px;
  height: 31px;
  background-color: rgba(0,0,0,0.2);
  color: #aaa;
}

#closeQR div.close {
  position: relative;
  top: 8px;
  left: 15px;
  background: #888;
  height: 15px;
  width: 1px;
  border-radius: 2px;
  transform: rotate(-45deg);
}

#closeQR div.close:after {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  background: #888;
  height: 15px;
  width: 1px;
  border-radius: 2px;
  transform: rotate(90deg);
}

#closeQR:hover {
  background-color: rgba(0,0,0,0.9);
  cursor: pointer;
}

#closeQR:hover div.close,
#closeQR:hover div.close:after {
  background: #fff;
}

#lightningTipQR {
  width: 231px;
  height: 231px;
  margin-bottom: 0;
}

#lightningTipInvoice {
  margin: 0;
  padding-top: 3px;
  padding-bottom: 10px;
  font-size: 10px;
  color: #333;
  background-color: #FFF;
}

#thanksOverlay {
  position: absolute;
  left: 0;
  bottom: -200px;
  width: 231px;
  height: 200px;
  padding: 10px;
  background-color: #fff;
  border-radius: 3px;
  color: #333;
  transition: all 0.2s ease-in;
}

#thanksOverlay.show {
  bottom: 0;
}

#thanksOverlay p {
  margin-top: 70px;
}

#lightningTipCopy {
  border-right: 1px solid #F5F5F5;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  float: left;
}

#lightningTipOpen {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  float: left;
}

#lightningTipExpiry {
  padding: 0.3em 0;
  float: right;
}

#lightningTipFinished {
  margin-bottom: 0.2em;
  display: block;
}

.spinner {
  width: 12px;
  height: 12px;
  display: inline-block;
  border: 3px solid #F5F5F5;
  border-top: 3px solid #212121;
  border-radius: 50%;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
